/* stylelint-disable */
.field--widget-entity-reference-autocomplete:has(.reference-edit-link),
.field--widget-select2-entity-reference:has(.reference-edit-link) {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.field--widget-select2-entity-reference:has(.reference-edit-link),
.form-type--select {
  width: 85%;
}

.field--widget-entity-reference-autocomplete .reference-edit-link,
.field--widget-select2-entity-reference:has(.reference-edit-link),
.reference-edit-link {
  height: 100%;
  margin-top: 1.6rem;
  margin-bottom: 0;
}

.layout-region--node-secondary,
.field--widget-entity-reference-autocomplete {
  align-items: center;
}

.layout-region--node-secondary .field--widget-entity-reference-autocomplete,
.form-type--entity-autocomplete {
  max-width: 75%;
}

.layout-region--node-secondary .field--widget-entity-reference-autocomplete,
.reference-edit-link {
  margin-bottom: 1.9rem;
}

.field--widget-entity-reference-autocomplete .reference-link .reference-edit-link {
  height: auto;
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}
